button.retro {
  font-family: 'Jersey 10', sans-serif;
  font-size: 20px;
  background-color: #D7D6CB;
  padding: 0.75rem 1rem;
  border-radius: 0,25rem;
  border: solid 0.125rem #121212;
  box-shadow: 0.25rem 0.25rem #121212;
  cursor: pointer;
}

.retro:active {
  translate: 0.125rem 0.125rem;
  box-shadow: 0.125rem 0.125rem #121212;
  transition: translate 200ms, box-shadow 200ms;
}